{% extends "app/base.html" %}

{% block style %}

main {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-contents: center;
}

div.disciplina  {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}
h3 {
    margin-bottom: 10px;
    }



a.sessão, .sessão {
    display:inline-block;
    color: black;

    margin: 5px 0;
    font-size: 0.85rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;

    background: white;
    border: 1px solid black;
    text-decoration: none;
    transition: filter 0.3s ease;
}

a.sessão:hover, .sessão:hover {
    filter: brightness(80%);
}


td.turma span:nth-child(2) {
    display:none;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/app/licenciatura-engenharia-informatica-lisboa_600.jpg);
}

.azul {
    text-decoration: none;
    color: #a34d06;
    border: 1px solid #a34d06;

    margin: 5px 0;
    font-size: 0.85rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;

    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color  0.3s ease;
}
.azul:hover {
    color: #fff;
    background-color: #a34d06;
    border-color: #a34d06;
}

div.disciplina {
    margin: 0 0 20px;
}

h1,h2,h3 {color:white;}

{% endblock style %}



{% block main %}

<body style="background-color: #b5073d;">

    
{% if gestor %}

<h1 style="margin-bottom:-10px;">Mentors</h1>
<p style="color:white;">And their mentees</p>

{% else %}

<h1>Mentor: {{ request.user.first_name }} {{ request.user.last_name }}</h1>

{% endif %}

{% for aluno, mentorias, disciplinas_nao_mentorizadas, mentorandos_potenciais_sem_diade in alunos %}
    {% if alunos|length > 1 %}<h2>Mentor: {{ mentorias.0.aluno }}</h2>{% endif %}
    
    {% for mentor in mentorias %}

        {% if mentor.diades_mentor.exists %}

            <div class="disciplina" style="background-color: whitesmoke; border: 1px solid black;">
                <b>{{ mentor.disciplina }}</b>
                {% for diade in mentor.diades_mentor.all %}
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <a class="azul" href="{% url 'perfil' diade.mentorando.aluno.id %}">Mentee: {{ diade.mentorando.aluno }}</a>

                        {% if diade.sessoes.count > 0 %}
                            <a class="sessão" style="margin-left: auto;" href="{% url 'sessoes' diade.mentor.id  diade.mentorando.id 0 %}">See {{ diade.sessoes.count }} sessions</a>
                        {% endif %}
                        {% if diade.ativo == False %}
                            <b style="color: grey; {% if diade.sessoes.count == 0 %}margin-left: auto;{% endif %}">(Suspended)</b>
                        {% else %}
                             <a class="sessão"  style="{% if diade.sessoes.count == 0 %}margin-left: auto;{% endif %} background:#a34d06; color:white;" href="{% url 'criar_sessao' diade.id %}">New Session</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="disciplina" style="background-color: whitesmoke; border: 1px solid black;">
                <b>{{ mentor.disciplina }}</b>
                <div style="color: red; ">Without Mentee</div>
            </div>
        {% endif %}
    {% endfor %}

    <h3>Add Mentee</h3>
    <div class="disciplina" style="background-color: whitesmoke; border: 1px solid black;">
        <form action="{% url 'cria_diade' %}" method='POST'>

            {% csrf_token %}

            <input type="hidden" name="mentor_aluno_id"  value="{{ aluno }}" >
 
            <select name = 'mentorando_id' style="padding:.375rem; width:100%; margin-bottom: 5px;"required>
                <option value="">Select mentee</option>
                {% for candidato in mentorandos_potenciais_sem_diade %}
                           <option value = "{{ candidato.id }}"> {{ candidato.disciplina }}: {{ candidato.aluno }} </option>
                {% endfor %}
            </select>

            <input class = "sessão" style="width: 100%; background:#a34d06; color:white;" type="submit" value="+Add">

        </form>
    </div>

    <h3>Add Lecture</h3>
    <div class="disciplina" style="background-color: whitesmoke; border: 1px solid black; margin-bottom:60px;">
        <form action="{% url 'cria_mentor' %}" method='POST'>

            {% csrf_token %}

            <input type="hidden" name="mentor_aluno_id"  value="{{ aluno }}" >

            <select name = 'disciplina_id' style="padding:.375rem; width:100%; margin-bottom: 5px;" required>
                <option value="">Select lecture to be mentor of</option>
                {% for disciplina in disciplinas_nao_mentorizadas %}
                        <option value = "{{ disciplina.id }}"> {{ disciplina.nome }}</option>
                {% endfor %}
            </select>

            <input class= "sessão" style="width: 100%; background:#a34d06; color:white;" type="submit" value="+Add">

        </form>
    </div>

{% endfor %}



<h3>Mentees without Mentor</h3>
    <p style="margin-top: 0;font-size: 0.90rem; color: white;text-align: center;">
        To be mentor of some of these mentees, register as mentor of a lecture. The mentee will appear in the list to be added as mentee.
    </p>
    <div class="disciplina" style="background-color: whitesmoke; border: 1px solid black;" required>
       <ul>
        {% for mentorando in mentorandos_sem_diade %}
            <li><b>{{ mentorando.disciplina }}</b>: {{ mentorando.aluno }}</li>
        {% endfor %}
        </ul>
    </div>



</body>

{% endblock main %}
