{% extends "app/base.html" %}



{% block style %}
table {
color:grey;
    border-collapse:collapse;
/*    border-top: 1px solid black; */
    border-radius: 10px;
}

th {
    text-align:right;
/*    border-right: 1px solid black; */
}

th, td {
    padding: 1.2ch 0.75ch ;
}

table.form {
    width:100%;
}

.form th {
    width: 8ch;
}
.form td {
    padding: 1.2ch 0ch 1.2ch 1.5ch;
}


input {
    padding: 1.2ch 0.75ch;
    border-radius: 10px;
    border: 1px solid black;
    width: 97%;
}

select,textarea,option {
    padding: 1.2ch 0.75ch;
    border-radius: 10px;
    width: 100%;
}

textarea{
    width:98%;
}

{% endblock %}



{% block script %}

<script>
    function mostraForm() {
        document.querySelector('form').style.display='block';
        document.querySelector('#botao-nova').style.background="#bf1d19";
        document.querySelector('#botao-nova').style.color="white";
    }
</script>
{% endblock %}



{% block main %}

<h3>Utente: {{ utente }}  </h3>

<form action="" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <table class="form">
    {{ form }}
    </table>
    <div style="display:grid; grid-template-columns:1fr 1fr; gap:1ch;">
        <a class="botao-listado pointer" href="{% url 'horarios:utente' utente.id %}" style="margin-top:3.3ch; text-align:center; padding">Cancelar</a>
        <input class="botao  pointer" type="submit" value="Guardar" class="btn btn-success" >
    </div>
</form>
{% endblock main %}
