{% extends 'app/base.html' %}


{% block style %}

main {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-contents: center;
    background: #BEC3C6;
}

form {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-contents: center;
    max-width: 20ch;
}

input {
    display: block;
    padding:5px 10px;
    margin: 5px;
    border: 2px solid #bf1d19;
    width: 100%;
    border-radius: 10px;
}
input[type='submit'] {
    color: white;
    background: #bf1d19;
    width: 113%;
}

{% endblock %}


{% block main %}
<body style="background-color: #BEC3C6;">

    <h1>Reset Password</h1>


    {% if form.errors %}
    <p>Erros:</p>
    {% endif %}

    {% for key, val in form.errors.items %}
        <p>{{val}}</p>
    {% endfor %}

    <p>Try again:</p>

    <form action="{% url 'horarios:password_reset_confirm' uidb64 token %}" method="post">
        {% csrf_token %}
        <input type="password" name="new_password1" placeholder="New password" required>
        <input type="password" name="new_password2" placeholder="Confirm password" required>
        <input type="submit"value="Reset Password">
    </form>

    
</body>

{% endblock %}
